*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration:none;
}
li{
    list-style-type: none;
}
.container{
    display: none;
}
@media (max-width: 768px){
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .logo{
        width: 75%;
        max-width:340px;
        min-width: 280px;
    }
    .links{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .link{
        margin: 20px 10px;
        width: 100%;
        min-width: 300px;
        max-width: 400px;
        transition: ease-in-out 0.4s;
        filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07)) drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198)) drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275)) drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035)) drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725)) drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
    }
    .link:hover{
        transform: scale(0.98);
    }
}