@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
    text-align: center;
    padding: 5rem;
    transition: background 0.5s ease-in, color 0.3s linear;
}

body.dark {
    background-color: #1f1f1f;
    color: white;
}

.toggle-container {
    position: fixed;
    top: 10px;
    right: 10px;
}

.logo {
    position: fixed;
    top: 7px;
    left: 10px;
    height: 7vh;
}

label {
    background-color: #F26722;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    user-select: none;
    transition: background 0.3s linear;
}

.bulb {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -55%);
}

.bx {
    color: white;
}

body.dark label {
    background-color: #fff;
}

body.dark label:hover {
    background-color: rgb(141, 141, 141);
    transition: 0.3s;
}

body label:hover {
    background-color: #c9561d;
    transition: 0.3s;
}

input {
    visibility: hidden;
}

.mycard {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 10px 20px;
    color: #fff;
    margin-top: 10px;
    box-shadow: 0px 5px 20px#F26722;
    transition: 0.4s;
}

.mycard a {
    color: white;
}

.mycard a:hover {
    color: #F26722;
    transition: 0.3s ease-in-out;
}

@media (min-width:900px) {
    body {
        display: none;
    }
}